*.info
*.o
*.lo
*.la
*.gcov
*.gcno
*.gcda
aclocal.m4
Makefile.in
Makefile
nb
!include/nb
nodebrain
nodebrain.dsc
nbTutorial.info
configure
libtool
config.h.in
config.h
nbcfg.h.in
nbcfg.h
config.log
config.status
config
INSTALL
!tutorial/Webster/config
autom4te.cache
stamp-h1
.dirstamp
.libs
.deps
nb.pc
nodebrain-*.tar.gz
nodebrain.spec
doc/nb.info
doc/stamp-1
doc/stamp-vti
doc/version-nb.texi
doc/version-nbTutorial.texi
doc/nbLanguage/stamp-*
doc/nbTutorial/stamp-*
html
