*.o
*.lo
*.la
aclocal.m4
Makefile.in
Makefile
nb
!lib/include/nb
nodebrain
nbTutorial.info
configure
libtool
config.h.in
config.h
nbcfg.h.in
nbcfg.h
config.log
config.status
config
INSTALL
!tutorial/Webster/config
autom4te.cache
stamp-h1
.dirstamp
.libs
.deps
nb.pc
nodebrain-*.tar.gz
nodebrain.spec
nodebrain.dsc
doc/nb.info
doc/stamp-1
doc/stamp-vti
doc/version-nb.texi
doc/version-nbTutorial.texi
*.aux
*.cp
*.cps
*.fn
*.ky
*.pg
*.toc
*.tp
*.vr
