table.cartouche { width: 100%; background-color: #F8F8F8; margin: 0; -moz-border-radius: 15px; border-radius: 15px; border: 1; }
table.cartouche td {border: 0;}
pre.smallexample { font-size:inherit; }

