Source: nodebrain
Section: interpreters
Priority: optional
Maintainer: Ed Trettevik <eat@nodebrain.org>
Build-Depends: debhelper (>=7.0.50~), libedit-dev, libpcre3-dev, libssl-dev
Standards-Version: 3.8.4
Homepage: http://www.nodebrain.org

Package: nodebrain
Architecture: any
Depends: libedit, libpcre3, libssl
Description: NodeBrain Rule Engine
 NodeBrain is an interpreter of a declarative rule-based language
 designed for construction of state and event monitoring applications.
 It interacts with other monitoring components to perform simple element
 state monitoring or complex event correlation based on user specified
 rules. It is extended through the development of node modules (plug-ins)
 using NodeBrain's C API, and servants (programs written in any language)
 that interact with NodeBrain via stdin, stdout, and stderr. A small set
 of plug-ins are distributed with NodeBrain to provide commonly needed
 features such as peer-to-peer communication, log monitoring, event caching,
 and a web browser interface for administrators. 
