Source: nbkit-caboodle
Section: development
Priority: optional
Maintainer: Ed Trettevik <eat@nodebrain.org>
Build-Depends: debhelper (>=7.0.50~)
Standards-Version: 3.8.4
Homepage: http://www.nodebrain.org

Package: nbkit-caboodle
Architecture: any
Depends: perl, perl-xml-simpleobject
Description: Caboodle NodeBrain Kit
 The Caboodle NodeBrain Kit is a simple framework for managing NodeBrain
 applications.  It provides a method of organizing the components of a
 typical NodeBrain application and managing rules as XML documents edited
 via command line or web interface.
